<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
<% @users.each do |user| %>
  <div class="card text-center my-4 mx-5">
    <div class="card-header">
      <%= user.username %>
    </div>
    <div class="card-body">
      <%= gravatar_for user, size: 200 %>
      <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
      <%= link_to 'View profile', user_path(user), class: "btn btn-outline-success" %>
      <% if logged_in? && ( user == current_user || current_user.admin?) %>
        <%= link_to 'Edit', edit_user_path(user), class: "btn btn-outline-info" %>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to 'Delete user', user_path(user), data: { confirm: 'Are you sure?', "turbo-method": :delete }, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
    <div class="card-footer text-muted">
      <small>Joined <%= time_ago_in_words(user.created_at) %> ago </small>
    </div>
  </div>
<% end %>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
